/examples/*
!/examples/*.py
!/examples/*.ipynb
!/examples/*.cpp
!/examples/images/**
!/JOSS-paper/*
env/*
.eggs/*
.vscode/*
build/*
_pyoscode.cpython-*.so
pyoscode.egg-info/*
lib/*
lib64/*
bin/*
dist/*
lib64
pyvenv.cfg
pyoscode/__pycache__/*
tests/__pycache__/*